
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RougeScript";
  src: url("/src/assets/fonts/Rouge_Script/RougeScript-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("/src/assets/fonts/Karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karla-Bold";
  src: url("/src/assets/fonts/Karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Karla-Italic";
  src: url("/src/assets/fonts/Karla/Karla-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Basic";
  src: url("/src/assets/fonts/Basic/Basic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Great-Vibes";
  src: url("/src/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf")
  format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dynalight";
  src: url("/src/assets/fonts/Dynalight/Dynalight-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "Tangerine";
  src: url("/src/assets/fonts/Tangerine/Tangerine-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "Playfair-Display";
  src: url("/src/assets/fonts/Playfair_Display/PlayfairDisplay.ttf");
}

@font-face {
  font-family: "Alex-Brush";
  src: url("/src/assets/fonts/Alex_Brush/AlexBrush-Regular.ttf");
}

@font-face {
  font-family:"Sirivennela" ;
  src: url("/src/assets/fonts/Sirivennela/Sirivennela-Regular.ttf");
}

@font-face {
  font-family: "Parisienne";
  src: url("/src/assets/fonts/Parisienne/Parisienne-Regular.ttf");
}

a {
  text-decoration: underline;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-alt-dark);
  color-scheme: light dark;

  font-family: "Karla", sans-serif;
  font-size: 14x;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-putih-keabuan: #c1cdd8;
  --color-off-white: #f5f5f5;
  --color-alt-dark: #1a1d21;
}

.txt-wedding-of {
  font-display: uppercase;
  font-stretch: extra-expanded;
  font-family: var(--font-karla);
  font-size: 16px;
  color: var(--color-putih-keabuan);
  -webkit-text-fill-color: var(--color-putih-keabuan);
  text-align: center;
  margin-top: 30px;
  margin-bottom: -7px;
  padding: 0px;
}

.txt-mempelai {
  font-family: var(--font-basic);
  font-stretch: extra-expanded;
  font-size: 52px;
  color: var(--color-off-white);
  -webkit-text-fill-color: var(--color-off-white);
  text-align: center;
  margin-top: -10px;
}

.animated {
  opacity: 0;
}

.animation-fade-in {
  animation: fade-in 0.8s ease-in-out;
  -webkit-animation: fade-in 0.8s ease-in-out;
  -moz-animation: fade-in 0.8s ease-in-out;
  -ms-zoom-animation: fade-in 0.8s ease-in-out;
  -o-animation: fade-in 0.8s ease-in-out;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animated:after {
  opacity: 1;
}
.animated:not(.animation-fade-in):after {
  opacity: 0;
}

.hero {
  height: 280px;
  background: linear-gradient(to bottom, #2c1f1f, #4b3a3a);
  position: relative;
}

.line-wave {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 100px;
}